# Base URL for your internal API.
# Used for server-side API calls within the application.
# Used in next.config for rewriting requests from /api to backend
# Example: https://api.example.com
# Must be present in order for the app to run 
# If u dont want to use it delete it from next.config 
# If u deleted from next config and made direct calls ur risking exposing ur api 
API_URL=https://api.example.com

# Base URL for an external API accessible from the client.
# Must start with NEXT_PUBLIC_ to be exposed to the browser.
# Example: https://external-api.example.com
NEXT_PUBLIC_EXTERNAL_API_URL=https://external-api.example.com
